params {
    // Out directiorny configurations
    runs_dir = "simulations" 
    runname = null
    outdir = "${params.runs_dir}/${params.runname}"
    simdir = "${params.outdir}/sims"
    datadir = "${params.outdir}/data"
    bindir = "${params.outdir}/bins"
    publish_dir_mode = 'copy'

    // Compilation and runtime configurations
    time = false
    ngens = null
    nruns = null
    niter = null
    subsample = 1
    nhosts = null
    nsymbionts = null

    // Algorithm and models specifications
    inference_algorithm = null
    treeppl_model_name = null
    treeppl_model_dir = null
    models = null
    version_model_dir = null
    run_revbayes = false
    run_treeppl = false
    
    // Containers (specified in `conf/container_versions_conf`)
    container_treeppl = null
    container_revbayes = null
    container_r = null
    container_python = null
    container_base = null

    // TreePPL library path (under most circumstances constant)
    tppl_lib_path = "tppl_lib/"
}

profiles {
    docker {
        docker.enabled    = true
        podman.enabled = false
    }

    podman {
        docker.enabled    = false
        podman.enabled = true
    }

    no_freeze {
        executor.memory = 10.GB
        executor.cpus = 6
    }

    alsvin {
        executor.memory = 50.GB
        executor.cpus = 18
    }

    // Select profile for TreePPL version
    original { includeConfig 'conf/container_versions_conf/original.config'} 
    custom_drift_kernels { includeConfig 'conf/container_versions_conf/custom_drift_kernels.config'} 
    mcmc_dists { includeConfig 'conf/container_versions_conf/mcmc_dists.config'} 

    // Profile for run configurations
    run_o   { includeConfig 'conf/run_conf/original_run.config'} 
    run_cdk { includeConfig 'conf/run_conf/cdk_run.config'} 
    run_md  { includeConfig 'conf/run_conf/mcmc_dists_run.config'} 

}

docker.registry = "docker.io"
podman.registry = "docker.io"

process {

    container = params.container_base    

    cpus = 1
    memory = 1.GB

    publishDir = [
        path: { "${params.outdir}/${task.process.toLowerCase()}" },
        mode: params.publish_dir_mode,
    ]

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1

    withLabel:data {
        publishDir = [
            path: { "${params.datadir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }

    withLabel:compile {
        publishDir = [
            path: { "${params.bindir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
        memory = 2.GB
    }

    withLabel:sim {
        publishDir = [
            path: { "${params.simdir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
        memory = { 1.5.GB * Math.pow(2, task.attempt - 1) }
        maxRetries    = 5
    }
}

